.main-wrapper {
    display: flex;
    min-height: calc(100vh - 204px);
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 40px;
    justify-content: center;
    max-width: 1440px;
}
