.cart-page-wrapper {
    flex-direction: column;
}

.cart-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: start;
    flex-direction: row;
    gap: 3.8rem;
}

.cart-title {
    font-family: var(--second-family);
    font-size: 3.6rem;
    width: 100%;
    text-align: left;
    margin-bottom: 4rem;
}

.cart-summary {
    min-width: 40%;
    position: sticky;
    top: 4rem;
}

.cart-items {
    display: flex;
    flex-direction: column;
    gap: 3.6rem;
    flex-grow: 2;
}
