.card-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-list-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 16px;
}

.card-list-title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 2rem;
    line-height: 115%;
    color: var(--deep-blue);
    text-transform: none;
}

.card-list-sorting {
    padding: 1rem 1.6rem;
    border: 1px solid var(--border-gray);
    color: var(--deep-blue);
    width: 20rem;
    font-family: var(--font-family);
}

.search {
    width: 100%;
}

.card-list-search-button {
    inline-size: 2rem;
    block-size: 2rem;
    background-image: url('../../../public/search.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    right: 1rem;
}

@media (width < 800px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px 20px;
    }
}
