.card-list-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-list-sorting-container {
    display: flex;
    justify-content: space-between;
}

.card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 16px;
}

.card-list-title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 2rem;
    line-height: 115%;
    color: var(--deep-blue);
    text-transform: none;
}

.card-list-sorting {
    padding: 4px 16px;
    border: 1px solid var(--deep-blue);
    color: var(--deep-blue);
    min-width: 10rem;
}

@media (width < 800px) {
    .card-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px 20px;
    }
}
