.auth-redirect-prompt {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 150%;
    color: var(--deep-blue);
}

.auth-redirect-prompt-link {
    color: var(--electric-orange);
    transition: all 0.5s;
    text-transform: none;
    border-bottom: 1px solid var(--electric-orange);
    &:hover {
        color: var(--turquoise);
        border-bottom: 1px solid var(--turquoise);
    }
}
