.aboutUS-wrapper {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding-top: 40px;
    width: 100%;
    align-items: center;
}

.text-colored {
    color: var(--electric-orange);
}

.section-content-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
}

.aboutUs-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 0 40px;
    max-width: 1440px;
}

.aboutUs-content {
    display: flex;
    flex-direction: column;
    max-width: 580px;
    gap: 20px;
}

.aboutUs-gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 700px;
    height: 100%;
    gap: 42px 30px;
}

.gallery-image-vertical {
    width: 243px;
    height: 364px;
    &:first-child {
        margin-top: 110px;
    }
}

.gallery-image-horizontal {
    width: 324px;
    height: 231px;
}

.about-content-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px 0px;
    background-color: var(--electric-orange);
    width: 200px;
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 114%;
    color: var(--white);
    transition: all 0.5s;
    &:hover {
        background-color: var(--deep-blue);
    }
    &.disable {
        pointer-events: none;
        background: var(--border-gray);
    }
}

.aboutUs-title {
    align-self: center;
    line-height: 114%;
    font-family: var(--second-family);
    font-size: 3.6rem;
}

.aboutUs-teamMembers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    padding: 0 40px;
    max-width: 1440px;
}

.aboutUs-teamMember {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    align-self: flex-start;
    &:nth-child(2n + 1) {
        flex-direction: row-reverse;
        align-self: flex-end;
    }
}

.teamMember-image {
    width: 180px;
    height: 180px;
    border-radius: 180px;
}

.teamMember-title {
    font-family: var(--second-family);
    font-size: 2.8rem;
    font-weight: 600;
}

.teamMember-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 450px;
}

.teamMember-subtitle {
    font-family: var(--second-family);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 10px;
}

.teamMember-subtitle-link {
    text-transform: none;
    color: var(--electric-orange);
    transition: all 0.3s;
    &:hover {
        color: var(--deep-blue);
    }
}

.teamMember-list {
    list-style: circle;
    margin-left: 10px;
}

.teamMember-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
}

.aboutUs-collaboration {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    background-color: var(--beige);
    padding: 80px;
}

.aboutUs-collaboration-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1440px;
    width: 100%;
    gap: 40px;
}

.rsschool-icon {
    height: 16px;
    transition: all 0.3s;
    &:hover {
        opacity: 0.8;
    }
}

.collaboration-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    background-color: var(--white);
    padding: 40px 58px;
}

.collaboration-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.collaboration-image {
    width: 178px;
    height: 178px;
}

.collaboration-heading {
    font-size: 1.4rem;
    font-family: var(--second-family);
    text-align: center;
}

.collaboration-text {
    font-size: 1.4rem;
    text-align: center;
}

@media (width <=1365px) {
    .aboutUs-section {
        flex-direction: column;
    }
}

@media (width <=767px) {
    .aboutUs-gallery {
        display: none;
    }
}
