.benefits {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

.benefits_list {
    border: 2px solid var(--deep-blue);
}

.benefits_list-item {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
}

.benefits_image {
    inline-size: 56px;
}

.benefits_list-item-title {
    font-size: 1.4rem;
    font-family: var(--second-family);
}

.benefits_list-item-text {
    font-size: 1.4rem;
}
