@font-face {
    font-family: 'Clash Display';
    src:
        url('./assets/fonts/ClashDisplaySemibold.otf') format('opentype'),
        url('./assets/fonts/ClashDisplayMedium.otf') format('opentype');
}

@font-face {
    font-family: 'Satoshi';
    src:
        url('./assets/fonts/Satoshi-Medium.otf') format('opentype'),
        url('./assets/fonts/Satoshi-Medium.ttf') format('truetype'),
        url('./assets/fonts/Satoshi-Medium.woff') format('woff'),
        url('./assets/fonts/Satoshi-Medium.woff2') format('woff2');
}

body {
    font-family: 'Satoshi';
}
