.confirm-wrapper {
    background-color: var(--smoke-grey);
    width: 100%;
    font-family: var(--second-family);
    font-size: 2rem;
    padding: 30px;
    font-weight: normal;
}

.confirtm-title {
    margin-bottom: 2rem;
}

.confirm-btn-wrapper {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.confirm-button--yes {
    background: var(--electric-orange);
}

.confirm-button--yes:hover {
    background: var(--deep-blue);
}
