.remove-btn {
    text-align: start;
    text-transform: none;
    text-decoration: underline;
    text-decoration-color: transparent;
    transition: 0.3s;
}

.remove-btn:hover {
    text-decoration-color: var(--deep-blue);
}
