.header {
    background-color: var(--beige);
    align-self: start;
    display: flex;
    width: 100%;
}

.header-wrapper {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0 80px;
    padding: 24px 0;
}

.categories-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.categories-nav-link {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 2rem;
    line-height: 115%;
    color: var(--deep-blue);
    text-transform: none;
    border-bottom: 1px solid transparent;
    transition: all 0.3s;
    &:hover {
        color: var(--electric-orange);
    }
}

.categories-nav-link-active {
    color: var(--electric-orange);
    border-bottom: 1px solid var(--electric-orange);
}

.services-nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.services-nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    gap: 2px;
    &:hover .services-nav-link-text {
        color: var(--electric-orange);
    }
    &:hover .services-nav-link-icon {
        fill: var(--electric-orange);
    }
    &:hover .services-nav-link-icon-logout {
        fill: none;
        stroke: var(--electric-orange);
    }
}

.services-nav-link-active .services-nav-link-icon {
    fill: var(--electric-orange);
}

.services-nav-link-icon {
    display: flex;
    width: 28px;
    height: 28px;
    fill: var(--deep-blue);
    transition: all 0.3s;
}

.services-nav-link-text {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 1rem;
    line-height: 115%;
    color: var(--deep-blue);
    text-transform: none;
    transition: all 0.5s;
}

.services-nav-link-active .services-nav-link-icon {
    fill: var(--electric-orange);
}

.services-nav-link-active .services-nav-link-text {
    color: var(--electric-orange);
    border-bottom: 1px solid var(--electric-orange);
}

.services-nav-link-icon-logout {
    fill: none;
    stroke: var(--deep-blue);
}
