.mailing-form {
    display: flex;
    block-size: 40px;
}
.mailing-form_input {
    inline-size: 300px;
    block-size: 100%;
    border: none;
    padding-left: 1.2rem;
}

.mailing-form_button {
    block-size: 100%;
    inline-size: 130px;
    color: inherit;
    background-color: var(--electric-orange);
}
