.login-question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &::before {
        content: '';
        display: flex;
        max-width: 180px;
        min-width: 75px;
        height: 2px;
        background-color: var(--deep-blue);
    }
    &::after {
        content: '';
        display: flex;
        max-width: 180px;
        min-width: 75px;
        height: 2px;
        background-color: var(--deep-blue);
    }
}

.login-question-text {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 150%;
    color: var(--deep-blue);
}

.login-register-button {
    background: var(--electric-orange);
    padding: 10px;
    max-width: 400px;
    width: 100%;
    min-width: 212px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 1.8rem;
    text-align: center;
    color: var(--white);
    transition: all 0.5s;
    &:hover {
        background: var(--deep-blue);
    }
}
