.mailing-list {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.mailing-list_title {
    font-family: var(--second-family);
    font-size: 1.4rem;
    line-height: 114%;
    font-weight: 400;
}

.mailing-perks_container {
    display: flex;
    gap: 2.8rem;
}

.mailing-list_logo {
    inline-size: 150px;
}

.mailing-list_container {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.mailing-list_form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

@media (width < 500px) {
    .mailing-perks_container {
        flex-direction: column;
        gap: 1rem;
    }
}
