.link-lists {
    display: flex;
    gap: 60px;
}

.link-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.link-list_title {
    font-family: var(--second-family);
    font-size: 1.4rem;
    line-height: 114%;
    font-weight: 400;
}

.link-list_container {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.link-list_link {
    font-size: 1.4rem;
    line-height: 160%;
    color: inherit;
    text-transform: none;
    transition: 0.3s;
    text-decoration: underline;
    text-decoration-color: transparent;
}

.link-list_link:hover {
    text-decoration-color: #fff;
}

@media (width < 900px) {
    .link-lists {
        justify-content: space-between;
    }
}

@media (width < 500px) {
    .link-lists {
        gap: 1.6rem;
    }
}
